 *{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

h1{
    font-family:"Roboto Condensed" , sons-serif;
color:rgb(231, 233, 220)
}

h3{
    font-family:"Roboto Condensed" , sons-serif;
    color:rgb(245, 240, 245)
}

body{
    /*FONDO*/
   
   background-image: url(imagenes/fondoPizzacat.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

   

}
.rewards-log {
    width: 800px;
    background: rgba(14, 13, 13, 0.7);
    padding: 50%, 20%, 50%, 20%;
    margin:auto;
    border-radius: 5px, 5px, 5px, 5px;
    font-family:"Roboto Condensed", sons-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.box-offset{
    font-family:"Roboto Condensed" , sons-serif;

}
.box-text{
    font-family:"Roboto Condensed" , sons-serif;

}
.button-style{
    font-family:monospace;
    width: 100px;
    background: rgba(136, 43, 148, 0.7);
    padding: 2%;
    margin: 2%;
    margin-top: 1px;
    border-radius: 30px;
    align-items: center; 
    
}

aside {
    font-family:"Roboto Condensed" , sons-serif;
    color: rgb(231, 233, 220); 
}

footer {
    font-family:"Roboto Condensed" , sons-serif;
    color:rgb(231, 233, 220);
}





